@import '../colors.css';

main section.banner {
    padding-top: 4rem;
    background-color: var(--hero-bg);
}
main section.banner div.wc {
    align-items: center;
}
main section.banner h2, main section.banner p {
    color: var(--hero-main-txt);
}
main section.banner div.aboutInfo > * {
    margin-bottom: 1rem;
}
main section.banner img {
    margin-top: -6rem;
    max-width: 350px;
    width: 100%;
    transform: translateY(9rem);
}

@media screen and (max-width:820px) {
    main section.banner {
        padding-top: 6rem;
    }
    main section.banner div.wc {
        flex-flow: column nowrap;
    }
}
