@import "../colors.css";

header {
    position: fixed;
    justify-content: center;
    width: 100%;
    z-index: 50;
    background-color: var(--hero-bg);
}
header nav {
    min-width: 7rem;
}
header > div.wc {
    justify-content: space-between;
    align-items: baseline;
}
header div a {
    text-decoration: none;
}
header h1{
    flex-shrink: 0;
    color: var(--hero-main-txt);
    font-size: 2rem;
    font-family: 'Leckerli One', cursive;
}
header nav input#mobMenu, header nav label#mobMenu {
    display: none;
    margin-bottom: 1rem;
}
header nav li {
    margin-left: 1rem;
    list-style: none;
}
header nav li a {
    padding-bottom: 4px;
    text-decoration: none;
    font-size: 1.125rem;
    color: var(--hero-txt);
    transition-duration: 0.2s;
}
header nav li a:hover {
    border-bottom: 3px solid var(--theme-accent);
}

@media screen and (max-width:820px) {
    header nav label#mobMenu {
        display: block;
    } 
    header nav label#mobMenu {
        color: var(--hero-bg);
        cursor: pointer;
        background: url(../../assets/images/menu-closed.png) no-repeat right center;
        background-size: 24px;
        padding: 4px 0;
        transition-duration: 0.5s;
        animation: fadeOut 0.5s ease 0s 1 normal forwards, fadeIn 0.5s ease 0s 1 normal forwards;
    }
    header nav menu.menuDrob {
        flex-flow: column nowrap;
        opacity: 0;
        padding: 0;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        left: 10px;
        right: 10px;
        background-color: var(--hero-bg);
        border: 0px solid var(--med);
        border-radius: 10px;
        box-shadow: 0px 24px 76px 0px var(--dark);
        transition-duration: 0.2s;
        animation: menuSlideClose 0.5s ease 0s 1 normal forwards;
    }
    header nav li {
        padding: 1rem 0;
    }
    /* menu activation */
    header nav input#mobMenu:checked ~ menu.menuDrob {
        transition-duration: 0.2s;
        max-height: fit-content;
        opacity: 1;
        border: 2px solid var(--med);
        height: fit-content;
        animation: menuSlideOpen 0.5s ease 0s 1 normal forwards;
    }
    header nav input#mobMenu:checked ~ label#mobMenu {
        background: url(../../assets/images/menu-opened.png) no-repeat right center;;
        background-size: 24px;
        padding: 4px;
        transition-duration: 0.5s;
        animation: fadeOut 0.5s ease 0s 1 normal forwards, fadeIn 0.5s ease 0s 1 normal forwards;
    }
}

@keyframes menuSlideOpen {
    0% {
        max-height: 0;
        opacity: 1;
    }
    100% {
        max-height: 15rem;
        opacity: 1;
    }
}
@keyframes menuSlideClose {
    0% {
        opacity: 1;
        max-height: 12rem;   
    }
    50% {
        max-height: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}