@import "../colors.css";

main .quote {
    padding: 6.5rem;
    background-color: var(--quote-bg);
    color: var(--quote-txt);
}
main .quote > div.wc {
    max-width: 720px;
    width: 100%;
}
main .quote blockquote {
    font-size: 2rem;
    font-weight: 300;
}
main .quote p {
    margin-top: 0.5rem;
    align-self: end;
    font-size: larger;
}

@media screen and (max-width:820px) {
    main .quote {
        padding: 2rem;
    }
}